{% extends 'home.html.twig' %}
{% block header %}
    <h3 class="page-title">
        Profili
    </h3>
{% endblock %}

{% block  bodymain %}

    <div class="container-fluid">
    <div class="panel panel-profile">
    <div class="clearfix">
    <!-- LEFT COLUMN -->
    <div class="profile-left">
        <!-- PROFILE HEADER -->
        <div class="profile-header">
            <div class="overlay"></div>
            <div class="profile-main">
                <img src="{{ asset('uploads/logo/' ~ logo ~ '') }}" class="img-circle" alt="Avatar" width="100px" height="100px">
                <h3 class="name">{{ profili.emer_biznesi }}</h3>
                  {% if biznesId == profili.idBiznesi %}
                <a href="{{ path('modifiko_profil',{'id':biznesId}) }}"  style="align-content: center; color:white; font-size: 16px">
                    <button class="btn btn-default" style="color: white;background-color: transparent;border-color: #ccc;margin-top: 1%;">
                 <i class="fa fa-pencil"></i> Modifiko</button></a>
                  {% else %}

                  {% endif %}

            </div>
            <div class="profile-stat">
                <div class="row">

                </div>
            </div>
        </div>

        <!-- END PROFILE HEADER -->

    </div>
    <!-- END LEFT COLUMN -->
    <!-- RIGHT COLUMN -->
    <div class="profile-right col-md-8 col-lg-offset-2">
        <div class="profile-right">

        </div>

        <table class="table table-condensed profile" style="width: 80%">


                <thead>

                <tbody>
                <tr>

                    <th scope="row" class=" "> <i class="fa fa-user-o" style="padding:8px"></i> Emër Biznesi</th>

                    <td  class="rowLeft" id="noBorder">{{ profili.emer_biznesi }}</td>
                </tr>
                <tr>
                    <th scope="row" class=" "><i class="fa fa-envelope-o" style="padding:8px"></i>Email</th>
                    <td class="rowLeft" id="noBorder">{{ profili.email }}</td>
                </tr>
                <tr>
                    <th scope="row" class=" " ><i class="fa fa-id-badge" style="padding:8px"></i>NIPT</th>
                    <td  class="rowLeft" id="noBorder">{{ profili.email }}</td>
                </tr>
                <tr>
                    <th scope="row" class=" "><i class="fa fa-home" style="padding:8px"></i>Adresa</th>
                    <td  class="rowLeft" id="noBorder">{{ profili.adresa }}</td>
                </tr>
                <tr>
                    <th scope="row" class=" "><i class="fa fa-phone" style="padding:8px"></i>Numër Telefoni</th>
                    <td  class="rowLeft" id="noBorder">{{ profili.numer_telefoni }}</td>
                </tr>
                <tr>
                    <th scope="row" class=" "><i class="fa fa-bank" style="padding:8px"></i>Fushë Operimi</th>
                    <td  class="rowLeft"id="noBorder">{{ profili.emer_fushe_operimi }}</td>
                </tr>





            </tr>
                </tbody>

        </table>



    </div>

    </div>

    </div>

    </div>
    </div>
<script>
    var header = document.getElementById("profil");

    header=header.classList.add('active');
</script>
<style>
    /*.rowLeft{*/
    /*    float:right;*/

    /*}*/
</style>

{% endblock %}
