{{ include('NavBarLogin.twig') }}
{{ include ('styleandjs.html.twig') }}

<div class="main-content " style="background-color: #F3F5F8;margin-top:60px" >
    <div class="container-fluid  " id="viewFull">
        <div class="row" >

            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel" style="padding: 0px !important; " id="registerForm">
                    <div class="panel-body   "  id="Register">
                        <div class="col-lg-5  col-md-5 " style="padding: 0px!important;">
                            <div class="  imageRegister p-4 ">

                                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 80vh">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>

                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <div class="carousel-item" style="background-image: url({{ asset('/images/Slider2.jpg') }})">

                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="carousel-item" style="background-image: url({{ asset('/images/Slider1.jpg') }})">

{#                                                <img src="{{ asset('/images/Slider1.jpg') }}">#}
                                            </div>
                                        </div>



                                    </div>

                                </div>

                                <!--end of carousel-->

                            </div>
                            {#                            </div>#}
                        </div>
                        <div class="col-lg-7 col-md-7 " style="padding-right:40px;padding-left:40px">
                            <div class="content   registerForm ">
                                <div class="row "  style="padding-top:10px !important;">

                                    <div  class="RegisterHeading col-lg-6">
                                        <h3 >Rregjistrohu
                                        </h3>
                                        <p class="lead">Nese keni llogari,
                                            <a href="{{ path('identifikohu') }}"> identifikohuni!
                                            </a>
                                        </p>
                                    </div>


                                </div>
                                {{ form_start(form) }}
                                <div class="row registerForm ">

                                    <div class=" form-group col-md-6 registerForm ">
                                        <div class="input-group">

                                            {{ form_row(form.emer_biznesi,{'attr': {'class': 'form-control','placeholder':'Emër biznesi'}}) }}
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="input-group">

                                            {{ form_row(form.nipt,{'attr': {'class': 'form-control','placeholder':'NIPT'}}) }}
                                            <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                                        </div>
                                    </div>
                                    <div class="error-message" id="nipt_gabim"  >
                                        <span class="label label-danger" style="font-size: 14px !important;">
                                            NIPT duhet të jetë në formatin A00000000A
                                        </span>
                                    </div>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-6 ">
                                        <div class="input-group">
                                            {{ form_row(form.email,{'attr': {'class': 'form-control','placeholder':'Email'}}) }}
                                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                        </div>
                                    </div>
                                    <div class="error-message" id="email_gabim"  >
                                        <span class="label label-danger" style="font-size: 14px !important;">
                                            email duhet të përmbajë @
                                        </span>
                                    </div>
                                    <br>
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            {{ form_row(form.numerTelefoni,{'attr': {'class': 'form-control','placeholder':'Numer telefoni'}}) }}
                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="form-group  col-md-6 ">

                                        {{ form_row(form.fushe_operimi_id,{'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_row(form.bashkia,{'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-12 ">
                                        <div class="input-group">

                                            {{ form_row(form.adresa,{'attr': {'class': 'form-control','placeholder':'Adresa'}})}}
                                            <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="form-group  col-md-12 ">
                                        <div class="input-group" style="width:100%">

                                            {{ form_row(form.logo,{'attr': {'class': 'form-control','placeholder':'Logo','style':'width: 100%'}}) }}
                                        </div>
                                    </div>
                                </div>

                                    <div class="row">
                                        <div class="form-group  col-md-12 ">
                                            <div class="input-group" style="width: 100%">

                                            {{ form_row(form.password,{'attr': {'class': 'form-control','style':'width: 100%'}}) }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_row(form.submit,{'attr': {'class': ' registerBtn btn btn-primary btn-lg btn-block',
                                    'tag':'button','style':'width: 100%; padding-left:0px;background-color:#FFC107'}})}}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
{{ include('footer.html.twig') }}

​
<style>
    #myCarousel{
        height: 82vh;
        /*max-height: 95px;*/
        min-height: 82vh;

    }
    @media screen and (min-width: 992px) {
    #registerForm{
        height:85vh;
    }
    }

    hr{
        margin:0px!important;
        margin-bottom:5px!important;
    }
    .form-control{
        height:35px;
    }
    .carousel-item {
        height: 0.6vh;

        min-height: 82vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        /*background: 50%/100% 100% no-repeat;*/
        /*background-color: black;*/
        border-radius: 66px;

    }

</style>
<script type="text/javascript">
    $(document).ready(function() {
        $("#nipt_gabim").hide();
        $("#email_gabim").hide();
        $('#user_register_nipt').focusout(function(){

            var patternNipt = /^[A-Z][0-9]{8}[A-Z]$/;
            var patternEmail = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/; 
            nipt = $('#user_register_nipt').val();
            email = $("#user_register_email").val();
            if(!patternNipt.test(nipt) || !patternEmail.test(email))
            {
                $("#user_register_submit").attr("disabled", true)
                $("#nipt_gabim").show();
            }
            else{
                $("#user_register_submit").attr("disabled", false)
                $("#nipt_gabim").hide();
            }
        })
        $("#user_register_email").focusout(function(){
            var patternEmail = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/; 
            email = $("#user_register_email").val();
            if(!patternEmail.test(email))
            {
                $("#user_register_submit").attr("disabled", true)
                $("#email_gabim").show();
            }
            else{
                $("#user_register_submit").attr("disabled", false)
                $("#email_gabim").hide();
            }
        })
    
});
</script>